/* styles.css */
*{
  box-sizing: border-box;
}
/* Estilos para centralizar o conteúdo na parte inferior da tela */
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    height: 80vh;
    margin: 0;
  }
  
  .topicos {
    display: flex;
    text-align: center;
  }
  
  .topicos > div {
    background-color: white;
    width: auto;
    border-radius: 40px;
    margin-right: 2%;
    padding: 40px 20px;
    cursor: pointer; 
    transition: 0.5s linear;
    &:hover{
        transition: 0.5s linear;
        transform: scale(1.05);
        background-color: #2980b9; 

     }
  }
  button{
    background-color: black; 
    color: #ffffff; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 14px; 
    cursor: pointer; 
    transition: 0.5s linear;
    &:hover{
        transition: 0.5s linear;
        transform: scale(1.05);
        background-color: black; 

     }

  }
  .topicos h2{
    color: black;
    text-align: center;
   }

   @media only screen and (max-width: 768px){
    .topicos{
       width: 100%;
    }
  }