/* styles.css */

/* Estilos para centralizar o conteúdo na parte inferior da tela */
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    height: 80vh;
    margin: 0;
  }
  
  .topicos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .topicos > div {
    flex: 0 0 calc(16% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  button{
    background-color: #3498db; 
    color: #ffffff; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 14px; 
    cursor: pointer; 
    transition: 0.5s linear;
    &:hover{
        transition: 0.5s linear;
        transform: scale(1.05);
        background-color: #2980b9; 

    }
}