<app-navbar></app-navbar>>
<div class="mapa">
    <div class="mapa-content">
        <div class="mapa-1"> 
          <h1>
              Localização de ONGs contra as Drogas
          </h1> 
          <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15723121.82687649!2d-52.621890589003115!3d-15.822251657196555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1songs%20no%20brasil%20sobre%20drogas!5e0!3m2!1spt-BR!2sbr!4v1698077478282!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="mapa-2">
          <h1>
              Localização de clínicas de Reabilitação
          </h1>
          <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15944448.084538028!2d-56.85439641081071!3d-12.668481868759173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sclinicas%20de%20reabilita%C3%A7%C3%A3o%20de%20drogas%20no%20brasil!5e0!3m2!1spt-BR!2sbr!4v1698077604797!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <form action="" class="forms">
        <div class="form-content">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail...">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome...">
            <label for="nome">Idade:</label>
            <input type="number" class="form-control" id="number" placeholder="Digite o seu Telefone...">
        </div>
        <div class="butao">
            <button type="submit" class="btn btn-primary mt-2">Enviar</button>
        </div>
    </form>
  </div>