footer {
  background-color: calc(--bg-color);
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 60px;
  margin: 0;
  padding: 0;
 
}
