<nav class="header">
  <a href="" class="logo">Prevenção na Pratica</a>
  <div class="navbar">
    <div class="navbarItems"><a [routerLink]="['/']" routerLinkActive="active-link">Home</a></div>
    <div class="navbarItems"><a [routerLink]="['/drogas']" routerLinkActive="active-link">Drogas</a></div>
    <div class="navbarItems"><a [routerLink]="['/sobrenos']" routerLinkActive="active-link">Sobre Nós</a></div>
    <div class="navbarItems"><a [routerLink]="['/formulario']" routerLinkActive="active-link">Formulário</a></div>
    <div class="navbarItems"><a [routerLink]="['/contato']" routerLinkActive="active-link">Contato</a></div>
  </div>
</nav>