<app-navbar></app-navbar>
<section class="home">
    <div class="imagem-container">
      <img src="./assets/imagens/cerebro.png" alt="Minha Imagem">
    </div>
  <div class="home-content">
    <div class="texto-animado">
      <h3>Reforçar a prevenção e o tratamento do abuso de substâncias, incluindo o abuso de drogas entorpecentes e uso nocivo do álcool</h3>
    </div>
    <p>
      A primeira etapa na luta contra o abuso de substâncias é a educação. No nosso site, você encontrará uma extensa coleção de recursos destinados a aumentar a compreensão sobre os riscos associados ao consumo de álcool e drogas entorpecentes. Nossos artigos informativos fornecem detalhes sobre os impactos à saúde física e mental, bem como os efeitos sociais e econômicos que o abuso de substâncias pode causar. É fundamental que todos tenham acesso a essas informações para tomar decisões informadas e conscientes.
    </p>
    <div class="butao">
      <button type="button" class="btn btn-primary" [routerLink]="['sobrenos']">Saiba mais</button>
    </div>
  </div>
</section>