.forms{
    margin-top: 20rem;
}


@media only screen and (max-width: 900px){
    .forms{
        margin-right: 5rem;
        margin-left: 5rem;
        input{
            width: 45em;
        }
        textarea{
            width: 45em;
        }
    }
}

@media only screen and (max-width: 650px){
    .forms{
        input{
            width: 35em;
        }
        textarea{
            width: 35em;
        }
    }
}
@media only screen and (max-width: 500px){
    .forms{
        .title{
            font-size: 2.5rem;
        }
        input{
            width: 25em;
        }
        label{
            width:85%;
        }
        textarea{
            width: 25em;
        }
    }
}