/* styles.scss ou styles.css */

.sobre {
  display: flex;
  flex-direction: column;
  align-items: justify;
  text-align: justify;
 margin-top: 20rem;
 margin-bottom: 1rem;
 font-size: 2rem;
}
h1{
  position: relative;
 font-size:6rem;
}
h2{

  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .sobre {
    margin-top: 20rem !important;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    align-items: center !important;

    h1 {
      text-align: center;
      font-size: 4rem;
    }

    p {
      text-align: center;
      font-size: 1.8rem;
    }
  }
  .saude img {
    max-width:50%;
    margin: 2rem 10rem 0rem ;
    position: relative;
    display: flex;
    right: 0;
    top: 43rem;
  }
}

@media only screen and (max-width: 1366px) {
  .sobre {
    margin-top: 17rem !important;
    // margin-left: 2rem !important;
    // margin-right: 2rem !important;
    align-items: center !important;
    flex-direction: column;
    // align-items: start;
    text-align: justify;
    h1 {
      text-align: justify;
      font-size: 4rem;
    }

    p {
      text-align: justify;
      font-size: 1.8rem;
    }
    h2{
      text-align: justify;
      font-size: 3rem;
    }
  }
  .saude {
    position: relative;


  }
  .saude img {
    width: 40%;
    height: auto;
    position: relative;
    margin-left: 60rem;
  }
}

@media only screen and (max-width: 1306px) {
  .sobre {
    margin-top: 17rem !important;
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    align-items: center !important;
    flex-direction: column;
   align-items: start;
    text-align: justify;
    h1 {
      text-align: justify;
      font-size: 4rem;
    }

    p {
      text-align: justify;
      font-size: 1.8rem;
    }
  }
  .saude {
    position: relative;


  }
  .saude img {
    width: 40%;
    height: auto;
    position: relative;
    margin-left: 60rem;
  }
}
