<app-navbar></app-navbar>
<div class="sobre">

    <h1>Sobre Nós</h1>
    <p>
        No mundo atual, o abuso de substâncias representa um problema de saúde pública que afeta milhões de pessoas em todo o mundo. Seja o uso nocivo do álcool, o consumo de drogas entorpecentes, ou a combinação de ambos, os efeitos devastadores dessa questão são sentidos em todas as comunidades e em todas as faixas etárias. O Prevenção na Pratica nasceu com a missão de enfrentar essa problemática de frente, oferecendo recursos e informações essenciais para reforçar tanto a prevenção quanto o tratamento.
    <p>
      <div class="saude">
      <img src="./assets/imagens/saude.png">
    </div>

    <p>
         A prevenção é uma das estratégias mais eficazes para enfrentar o abuso de substâncias. Através de programas de educação e conscientização, podemos ajudar a evitar que as pessoas entrem nesse ciclo destrutivo. No Prevenção na Pratica, você encontrará guias práticos sobre como prevenir o abuso de substâncias em sua própria vida, bem como recursos para pais, educadores e profissionais de saúde que desejam orientar os outros na prevenção. Entendemos que, apesar dos nossos melhores esforços na prevenção, muitos indivíduos podem já estar lutando contra o abuso de substâncias. Para essas pessoas, é crucial fornecer acesso ao tratamento e ao apoio adequados. No Prevenção na Pratica, você encontrará informações sobre os diferentes tipos de tratamento disponíveis, desde aconselhamento e terapia até programas de reabilitação. Também compartilhamos histórias de sucesso de pessoas que superaram o abuso de substâncias, demonstrando que a recuperação é possível.
    </p>
</div>
<app-footer></app-footer>
